<h1>RSVP</h1>

{{#liquid-if (eq coming '') use="toLeft"}}
  <div class="align-center">
    <form class="align-left form-width">
      <div>{{input placeholder="Name(s)" value=name}}</div>
      <div>{{input placeholder="Email" value=email}}</div>
      <div>{{input type="number" placeholder="Number of people" value=number}}</div>

      {{#liquid-if (and name email number) use="toDown"}}
        <hr />

        Hi {{name}}, we eagerly await your response!
        <div>
          {{#radio-button name="coming" value="yes" groupValue=coming}}
              I'm Coming
          {{/radio-button}}
        </div>
        <div>
          {{#radio-button name="coming" value="maybe" groupValue=coming}}
              Maybe, let's see
          {{/radio-button}}
        </div>
        <div>
          {{#radio-button name="coming" value="no" groupValue=coming}}
              Can't
          {{/radio-button}}
        </div>
      {{/liquid-if}}
    </form>
  </div>
{{/liquid-if}}

{{#liquid-if (or (eq coming "yes") (eq coming "maybe")) use="toLeft"}}
  <div class="align-center">
    <form class="align-left form-width">
      <h3>We're so excited you can make it!</h3>
      <div>We have just a few more questions to help us coordinate</div>

      <hr />

      <div>Where do you want to stay?</div>
      <div>
        {{#radio-button name="staying" value="camp" groupValue=staying}}
            I'll stay at the camp
        {{/radio-button}}
      </div>
      <div>
        {{#radio-button name="staying" value="else" groupValue=staying}}
            I'll stay elsewhere
        {{/radio-button}}
      </div>
      <div>
        {{#radio-button name="staying" value="day" groupValue=staying}}
            Nowhere, I'm coming just for the day
        {{/radio-button}}
      </div>
      <div>
        {{#radio-button name="staying" value="unknown" groupValue=staying}}
            I dunno
        {{/radio-button}}
      </div>

      <hr />

      <div>
        {{input placeholder="Where are you coming from?" value=comingFrom}}
      </div>

      <hr />

      <div>Do you have any food requirements?</div>
      <div>The wedding will be vegetarian and kosher.</div>
      <div>{{input value=foodRequirements}}</div>

      <br/>
      <div class="align-right">
        <button {{action "send"}}>Send RSVP</button>
      </div>
    </form>
  </div>
{{/liquid-if}}

{{#liquid-if (or (eq coming "no")) use="toLeft"}}
  <div class="align-center">
    <form class="align-left form-width">
      <div>
        We're sorry you can't make it, but we hope to celebrate with you
        another time!
      </div>

      <hr />

      <div>Do you have any wishings you want to send?</div>

      {{textarea value=wishings}}

      <br/>
      <div class="align-right">
        <button {{action "send"}}>Send RSVP</button>
      </div>
    </form>
  </div>
{{/liquid-if}}
