{{#if (eq currentRouteName 'responses')}}
<div class="full-content">
  {{outlet}}
</div>
{{else}}

  <div class="align-center">
    {{write-text text="Bekah and Michael"}}
    {{write-text text="Are getting married!" fontSize=36}}

    <hr />

    <div class="navigation">
      <div>{{#link-to "index"}}Pictures{{/link-to}}</div>
      <div>{{#link-to "story"}}Story{{/link-to}}</div>
      <div>{{#link-to "event"}}Event{{/link-to}}</div>
      <div>{{#link-to "rsvp"}}RSVP{{/link-to}}</div>
    </div>

    <div class="content">
      {{liquid-outlet}}
    </div>
  </div>

  <div class="fix-bottom">
    Designed with love <br/> by Michael Shafir
  </div>

{{/if}}
