{{#if (or (eq currentRouteName 'responses') (eq currentRouteName 'login'))}}

  {{outlet}}

{{else}}

  <div class="align-center">
    {{write-text text="Bekah and Michael"}}
    {{write-text text="Are getting married!" fontSize=36}}

    {{#if content.isBrookyn}}
      <h3 class="subtitle">August 27th, 2017 two o'clock at Baku Palace, Brooklyn, NY</h3>
    {{else}}
      <h3 class="subtitle">September 8-10th, 2017 at Camp Laurelwood</h3>
    {{/if}}

    <hr />

    <div class="navigation">
      {{#if content.isBrookyn}}
        <div>{{#link-to "index"}}Us{{/link-to}}</div>
        <div>{{#link-to "location-brooklyn"}}Location{{/link-to}}</div>
        <div>{{#link-to "story"}}Story{{/link-to}}</div>
        <div>{{#link-to "rsvp-brooklyn"}}RSVP{{/link-to}}</div>
      {{else}}
        <div>{{#link-to "index"}}Us{{/link-to}}</div> .
        <div>{{#link-to "location-camp"}}Location{{/link-to}}</div> .
        <div>{{#link-to "schedule-camp"}}Schedule{{/link-to}}</div> .
        <div>{{#link-to "lodging-camp"}}Lodging{{/link-to}}</div> .
        <div>{{#link-to "getting-there-camp"}}Getting There{{/link-to}}</div> .
        <div>{{#link-to "story"}}Story{{/link-to}}</div>
      {{/if}}
    </div>

    <div class="content">
      {{liquid-outlet}}
    </div>
  </div>

  <div class="fix-bottom">
    Designed with love <br/> by Michael Shafir
  </div>

{{/if}}
