{{#if (or (eq currentRouteName 'responses') (eq currentRouteName 'login'))}}

  {{outlet}}

{{else}}

  <div class="align-center">
    {{write-text text="Bekah and Michael"}}
    {{write-text text="Are getting married!" fontSize=36}}
    <h3>September 8-10th, 2017 at Camp Laurelwood</h3>

    <hr />

    <div class="navigation">
      <div>{{#link-to "index"}}Pictures{{/link-to}}</div>
      <div>{{#link-to "location"}}Location{{/link-to}}</div>
      <div>{{#link-to "schedule"}}Schedule{{/link-to}}</div>
      <div>{{#link-to "rsvp"}}RSVP{{/link-to}}</div>
    </div>

    <div class="content">
      {{liquid-outlet}}
    </div>
  </div>

  <div class="fix-bottom">
    Designed with love <br/> by Michael Shafir
  </div>

{{/if}}
